@mixin distance($site_height) {
    float: left;
    height: 50%;
    margin-bottom: -($site_height / 2);
    width: 1px;
}

@mixin wrapper {
    clear: left;
    margin: 0 auto;
    position: relative;
}

html, body {
  height: 100%;
}
